In [19]:
import pandas as pd

In [20]:
train_X = pd.read_csv('../data/curated/cleaned_train_X.csv')
val_X = pd.read_csv('../data/curated/cleaned_val_X.csv')
test_X = pd.read_csv('../data/curated/cleaned_test_X.csv')

## One-hot Encode Categorical Data

In [21]:
encoded_train_X = pd.get_dummies(train_X, columns=['Sex', 'Embarked', 'ticket_prefix', 'title', 'family_name'])
encoded_val_X = pd.get_dummies(val_X, columns=['Sex', 'Embarked', 'ticket_prefix', 'title', 'family_name'])
encoded_test_X = pd.get_dummies(test_X, columns=['Sex', 'Embarked', 'ticket_prefix', 'title', 'family_name'])

In [22]:
encoded_train_X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,...,family_name_Youseff,family_name_Yousif,family_name_Yousseff,family_name_Yrois,family_name_Zabour,family_name_de Messemaeker,family_name_de Pelsmaeker,family_name_del Carlo,family_name_van Billiard,family_name_van Melkebeke
0,1,45.5,0,0,28.5000,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,2,23.0,0,0,13.0000,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,3,32.0,0,0,7.9250,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,3,26.0,1,0,7.8542,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,3,6.0,4,2,31.2750,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,3,21.0,0,0,7.6500,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
708,1,28.0,0,0,31.0000,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
709,3,41.0,2,0,14.1083,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
710,1,14.0,1,2,120.0000,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
711,1,21.0,0,1,77.2875,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [23]:
for feature in encoded_test_X.columns:
    if encoded_test_X[feature].isna().sum() > 0:
        print(feature)

### PCA

In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
def get_pca(encoded_train_X):
    scaler = StandardScaler()
    scaled_train_X = scaler.fit_transform(encoded_train_X)
    pca = PCA(n_components=8)
    principal_components = pca.fit_transform(scaled_train_X)
    principal_df = pd.DataFrame(data=principal_components)
    return principal_df

In [25]:
principal_train_df = get_pca(encoded_train_X)
principal_val_df = get_pca(encoded_val_X)
principal_test_df = get_pca(encoded_test_X)

In [26]:
principal_train_df.to_csv('../data/curated/final_train_X.csv',index=False)
principal_val_df.to_csv('../data/curated/final_val_X.csv', index=False)
principal_test_df.to_csv('../data/curated/final_test_X.csv', index=False)

In [27]:
principal_train_df

,0,1,2,3,4,5,6,7
0,-1.724223,1.068534,-0.273963,1.620942,-0.532684,-0.053457,0.385098,-0.240100
1,-1.826783,-0.047793,-0.149065,0.354428,-0.290857,-0.246937,-0.171269,0.237109
2,-2.777715,-0.605869,-0.933386,0.263556,-0.904787,-0.705638,-1.045576,-1.741810
3,-1.904198,-0.777238,0.037681,-0.001763,-0.104553,-0.165943,0.203606,0.074465
4,3.220837,-3.248682,0.933805,-0.244716,-0.050388,-0.264065,0.201226,0.287618
...,...,...,...,...,...,...,...,...
707,2.155485,-1.246704,-2.225635,-0.772080,-0.013753,-0.505448,0.060322,0.536728
708,-1.605293,0.671980,0.026862,1.109573,-0.519891,-0.272976,-0.105279,0.023226
709,-1.843127,-0.710988,0.187378,0.357637,-0.138563,-0.063199,0.545303,-0.077438
710,3.302133,-0.575631,0.249102,1.495337,-0.659151,0.533307,0.023883,0.439988
711,-1.083137,0.511536,0.803406,1.515017,-0.656676,-0.254167,-0.191005,0.034579